<h2>Categories</h2>

<% @categories.each do |category| %>
  <div class="category">
    <%= category.title %>
    <%= link_to "Delete", category_path(category), method: :delete %>
    <%= link_to "Edit", edit_category_path(category) %>
  </div>
<% end %>